<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.cryptotunnel.nutriplan"
    android:theme="@android:style/Theme.Holo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINSTART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dailyplan.DailyPlan"
            android:label="@string/title_activity_daily_plan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.cryptotunnel.nutriplan.MainActivity" />
        </activity>
        <activity
            android:name=".healthtips.HealthTips"
            android:label="@string/title_activity_health_tips"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.cryptotunnel.nutriplan.MainActivity" />
        </activity>
        <activity
            android:name=".nutridiary.NutriDairy"
            android:label="@string/title_activity_meal_dairy"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.cryptotunnel.nutriplan.MainActivity" />
        </activity>
        <activity
            android:name=".nutricalculator.NutriCalculator"
            android:label="@string/title_activity_nutri_calculator"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.cryptotunnel.nutriplan.MainActivity" />
        </activity>
        <activity
            android:name=".nutridiary.NoteEditorActivity"
            android:label="@string/title_activity_note_editor"
            android:parentActivityName=".nutridiary.NutriDairy" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".nutridiary.NutriDairy" />
        </activity>
        <activity
            android:name=".dailyplan.LineChartActivity"
            android:label="@string/graph" >
        </activity>
        <activity
            android:name=".dailyplan.History"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".scanner.ScannerActivity"
            android:label="@string/scanner_activity" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/loginscreen" >
            <intent-filter>
                <action android:name="com.app.cryptotunnel.nutriplan.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- facebook permissions -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/key" />
        <!-- google permissions -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ApiIntentService"
            android:exported="false" >
        </service>

        <activity
            android:name=".dailyplan.WeightInput"
            android:label="@string/title_activity_weight_input" >
        </activity>
    </application>

</manifest>
